body {
    margin: 0;
}
.container {
    height: 100vh;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
.top-bar {
    display: flex;
    flex-direction: row;
}
.todo-menu {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    color: azure;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    padding-top: 250px;
    font-family: cursive;
    font-size:50px
    
}
.todo-input {
    display: flex;
    width: 500px;
}
.todo-task {
    display: flex;
    flex: 1 1 0;
}
.add{
    background-color:rgb(160, 135, 250);
    border: 1px solid #b386e7;
    color: white;
    padding: 0px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: cursive;
    font-size: 12px;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.main-window {
    display: flex;
}
.left-column {
    flex: 0 0 20%;
}
.todo-list-window{
    display: flex;
    flex: 1 1 0;
    align-items: flex-start;
}
.right-column {
    flex: 0 0 20%;
}